<template>
  <div class="posts">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">TAMBAH BUKU</div>
            <div class="card-body">
              <form @submit.prevent="PostStore">
                <div class="form-group">
                  <label>JUDUL</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.judul"
                    placeholder="Masukkan Judul"
                  />
                  <div v-if="validation.judul">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.judul[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label>PENULIS</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.penulis"
                    placeholder="Masukkan Nama Penulis"
                  />
                  <div v-if="validation.penulis">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.penulis[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label>KATEGORI</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.kategori"
                    placeholder="Masukkan Kategori"
                  />
                  <div v-if="validation.kategori">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.kategori[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label>STOK</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.stock"
                    placeholder="Masukkan Jumlah Stok"
                  />
                  <div v-if="validation.stock">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.stock[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <button type="submit" class="btn btn-md btn-success mr-2">
                  SUBMIT
                </button>
                <button type="reset" class="btn btn-md btn-danger">
                  RESET
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      post: {},
      validation: [],
    };
  },
  methods: {
    PostStore() {
      axios
        .post("http://localhost:9090/book", this.post)
        .then((response) => {
          this.$router.push({
            name: "index",
          });
          console.log(response.data);
        })
        .catch((error) => {
          this.validation = error.response.data;
        });
    },
  },
};
</script>
