<template>
    <div class="posts">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            DAFTAR BUKU
                        </div>
                        <div class="card-body">
                            <router-link :class="['btn btn-md btn-success mb-2']" to="/create">TAMBAH BUKU</router-link>
                            <hr>

                            <div class="table-responsive mt-2">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>JUDUL</th>
                                        <th>PENULIS</th>
                                        <th>KATEGORI</th>
                                        <th>STOK</th>
                                        <th>AKSI</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="book in books" :key="book.id">
                                        <td>{{ book.judul }}</td>
                                        <td>{{ book.penulis }}</td>
                                        <td>{{ book.kategori }}</td>
                                        <td>{{ book.stock }}</td>
                                        <td class="text-center">
                                            <button @click="PostDelete(book.id)" class="btn btn-sm btn-danger">HAPUS</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from "axios";

    export default {
        data() {
            return {
                books: [],
            };
        },
        mounted() {
            this.getAllBooks()
        },
        methods: {
            getAllBooks(){
                axios.get('http://localhost:9090/book').then(res => {
                    this.books = res.data
                }).catch ((err) => {
                    console.log(err);
                })
            },    
            PostDelete(id){
                if(confirm("Hapus Buku?")){
                    axios.delete('http://localhost:9090/book/'+id)
                        .then(response => {
                            this.getAllBooks()
                            this.books.splice(this.books.indexOf(id), 1);
                            console.log(response);
                        })
                    .catch(error => {
                        console.log(error.response);
                    });
                }
            }
        }
    };
</script>